@import "./variables.scss";
@font-face {
  font-family: "Montserat";
  src: url("./fonts/Montserrat-Medium.ttf");
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Montserat", "Roboto", sans-serif;
}

a {
  color: $text-color;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0;
}



main {
  min-height: 95vh;
  height: 100%;
}
