.form {
  background-color: $secondary-back-color;
  max-width: 500px;
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  padding: 100px;
  top: 50%;
  text-align: center;
}

.login__form {
  font-size: 28px;
  margin-bottom: 20px;
}

.input {
  margin: 20px 0;
}

.button {
  max-width: 200px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: transparent;
  color: $text-color;
  border: none;
  font-size: 24px;

  &:hover {
    cursor: pointer;
  }
}

.register__link {
  display: block;
  font-size: 12px;
  margin-top: 20px;
}

.error {
  color: #dc3545;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  text-align: center;
  white-space: pre-line; /* Чтобы переносы строк работали */
}

.google__login {
  margin:  20px auto;
  display: block;
}